<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form (ngSubmit)="login()" [formGroup]="credentials">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="email" placeholder="Correo" formControlName="email"></ion-input>
      <ion-note slot="helper">Escribe tu correo electrónico</ion-note>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors"
				>Correo no válido</ion-note
			>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
			<ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors"
				>Contraseña no válida. Debe contener entre 4 y 8 caracteres</ion-note
			>
		</ion-item>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Iniciar sesión</ion-button>
		<ion-button type="button" expand="block" color="secondary" (click)="register()"
			>Crear cuenta</ion-button
		>
	</form>
</ion-content>
