ion-toolbar{
    --background: #59d4f9;
    --color:white;
    --border-color:#24aec;
    --border-width:4px 0;
    --border-style:double;
    --min-heigth:80px;
    --padding-top:20px;
    --padding-bottom:20px;
}
